<p>{{entity | json}}</p>
<div *ngFor="#keyValue of schema.properties | items">
  {{keyValue.val.title}}
  <div [ngSwitch]="toInputType(keyValue.val)">
    <template ngSwitchWhen="number">
      <input
        #i
        type="number"
        (input)="updateEntity(keyValue.key, i.value)"
        min={{keyValue.val.minimum}}
        max={{keyValue.val.maximum}}
      />
    </template>
    <template ngSwitchWhen="text">
      <input
        #i
        type="text"
        (input)="updateEntity(keyValue.key, i.value)"
      />
    </template>
    <template ngSwitchWhen="radio">
      <div *ngFor="#x of keyValue.val.enum">
        <input
          #i
          type="radio"
          name="keyValue.key"
          value="{{x}}"
          (click)="entity[keyValue.key] = i.value"
        />{{x}}
      </div>
    </template>
    <p></p>
    <template ngSwitchWhen="select">
      <select #sel (change)="updateEntity(keyValue.key, sel.value)">
        <option #sel *ngFor="#x of keyValue.val.enum">{{x}}</option>
      </select>
    </template>
    <template ngSwitchWhen="object">
      <json-schema-form
        max-radio-button-count="maxRadioButtonCount"
        [schema]="keyValue.val"
        (entityChange)="updateEntity(keyValue.key, $event)"
        >
      </json-schema-form>
    </template>
  </div>
</div>
